@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100;
}
/* .fade-enter,
.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit {
  opacity: 1;
  transition: opacity 300ms;
} */

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
